/* LANDING */
* {
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
}

.layout {
    background-color: #F4FBFD;
}
.homepage {
    background: url('../img/background.png');
    background-position: center;
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 100vh;

   
}

.landing {
    padding: 5%;
    padding: 7.5rem 2rem 2rem 2rem;
    margin: 0 auto;
    /* padding-left: 4rem; */
    /* display: flex; */
    
}

.landing h1 {
    font-size: 45px;
    font-weight: 300;
    
}
.landing-message {
    line-height: 1.5em;
    font-size: 20px;
    font-weight: lighter; 
}
/* SIGNUP COMPONENT */

.landingform {
    border: 1px solid darkgray;
    border-radius: .5rem;
    position: relative;
    /* margin: 0; */
    margin-left: 11rem;
    margin-top: 0;
    display: block;
    padding: 5%;
    width: 350px;
    height: 480px;
    box-shadow: 5px 2px 23px 5px rgba(81, 163, 211, 0.3);
}
.terms {
    padding-top: .8em;
}

/* SIGN UP */

.signupcontainer {
    position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 340px;
  padding: 10px;
  padding-top: 15px;
  border-radius: remy(3px);
  box-shadow: 0 7px 30px rgba(59, 121, 102, 0.3);
}
.form {
width: 50%;
height: 100%;
color: #fff;
}
#login { 
    background-color: #17A17F;
    color: white;
    width: 300px;
    height: 350px;
}
#signup {
    border: .5px solid black;
}

/*LOG IN*/

.logindiv {
    border: 1px solid darkgray;
    margin-top: 125px;
    margin-right: 60%;
    padding: 5%;
    width: 650px;
    height: 480px;
    box-shadow: 0 7px 30px rgba(59, 121, 102, 0.3);
    margin-left: 30%;
}


/* New note button */

#plus {
    width: 100px;
  cursor:pointer;
  transition: all .3s ease 0s;
  height: 100px;
  background: rgba(16,89,170);
  border-radius: 50%;
  position: fixed;
    bottom: 65px;
    right: 65px;
    
    
    
}

#addNoteContainer {
    font-size: 40px;
    text-align: center;
}


#addIcon {
    text-decoration: none;
    font-weight: lighter;
    font-size: 100px;
    cursor: pointer;
    color: white;
    display: block;
        position: relative;
        margin: 0 auto;
        bottom: 2rem;
}


/* notes */
/* .header {
    float: left;
} */

.new-note {
    display: inline-block;
    padding: 1rem;
    margin: 1.5rem -1rem 1rem 3rem;
    opacity: .9;
}

.notes {
    display: inline-block;
    width: 280px;
    height: 280px;
    margin-left: 1rem;
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.2);
    background: #000;
    color: #f2e1f2;
    letter-spacing: .1em;
    border-radius: 1rem;
    padding: 1rem;
    overflow: scroll;
}

#note-nav {
    color: white;
            width: 280px;
            line-height: 30px;
            margin: -1rem;
            padding: -.5rem;
            border-radius: 15px 15px 0 0;
}
.delete {
            width: 53px;
            height: 53px;
            border-radius: 100%;
            display: inline-block;
            cursor: pointer;
            border: none;
}
.edit {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    border: none;
}
.edit:focus, .delete:focus {
    outline: 0;
}
.edit:hover, .delete:hover {
    transform: scale(1.3);
}